{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Add a restaurant-admin
{% endblock title %}

{% block content %}
<main style="margin-top:100px;">
  <div class="container margin_60_40">
      <h4 class="mb_5 pb-3 text-center">Add a admin for {{restaurant.name}}</h4>
      <div class="row d-flex justify-content-md-center">
          <div class="col-lg-6 col-md-6 add_bottom_25">
              <form method="post" id="id_add_admin" autocomplete="off" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{form|crispy}}
                  <div class="form-group text-center">
                      <input class="btn_1" type="submit" value="Add" id="submit-contact">
                  </div>
              </form>
              
          </div>
      </div>
  </div>
</main>
{% endblock %}                             