{% extends 'restaurant_admin/_base.html' %}
{% load crispy_forms_tags %}

{% block title %} Admin Login{% endblock title %}

{% block content %}
<div class="container content-area">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        {% include "_includes/message.html" %}
        <div class="panel">
            <form method="post" id="id_login" autocomplete="off">
                {% csrf_token %}
                {{form|crispy}}
                <div class="form-group text-center">
                    <input class="btn btn-info border-info" type="submit" value="Login" id="submit-contact">
                    <a class="btn btn-dark" href="{% url 'index' %}">Cancel</a>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}