{% load static %}
<footer>
    <div class="frame black"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="footer_wp">
                    <i class="icon_pin_alt"></i>
                    <h3>Address</h3>
                    <p>House #502, Street #2,<br> City - Country</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="footer_wp">
                    <i class="icon_tag_alt"></i>
                    <h3>Reservations</h3>
                    <p><a href="tel:00000111">+00000111</a><br><a href="#0">mail@restaurantx.com</a></p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="footer_wp">
                    <i class="icon_clock_alt"></i>
                    <h3>Opening Hours</h3>
                    <ul>
                        <li>Mon - Sat: 10am - 10pm</li>
                        <li>Sunday: Closed</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /row-->
        <hr>
        <p class="text-center">© 2022 RestaurantX - All rights reserved</p>
    </div>
</footer>
<!--/footer-->

<div id="toTop"></div><!-- Back to top button -->


<!-- COMMON SCRIPTS -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/slider_2.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/validate.js' %}"></script>

<!-- SPECIFIC SCRIPTS (wizard form) -->
<script src="{% static 'js/wizard/jqueryui.min.js' %}"></script>
<script src="{% static 'js/wizard/wizard_func.js' %}"></script>